@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{
    scroll-behavior: smooth;
}
.navbar{
    box-shadow: 0px 1px 10px black;
}
.navbar-brand img{
    width: 150px;
}
.navbar .navbar-nav li a{
    padding: 10px 30px !important;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    color: teal !important;
    transition: 0.2s ease;
}
.navbar .navbar-nav li a:hover{
    background-color: teal;
    color: white !important;
}

.letters{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heading{
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
}
.heading span{
    color: teal;
    font-weight: 700;
}
.typing{
    width: 400px;
    color: gray;
    overflow: hidden;
    white-space: nowrap; 
    border-right: 2px solid black;
    text-transform: capitalize;
    animation: 
    type 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes type {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  /* .img-container{
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
  } */
  .img-container img{
      margin-top: 40px;
      width: 60%;
      border-radius: 20px;
      
  }
  /* .img3{
      grid-column: 1/3;

  }
  .navbar .navbar-toggler{
      border: 3px solid white;
      color: white !important;
  }
 .navbar .navbar-toggler .fa{
     color: white;
 } */

 .about{
     padding-top: 40px;
     margin-top: 20px;
     background-color: rgb(211, 211, 211);
     padding-bottom: 2%;
 }
 .about p{
     font-size: 15px;
 }
.abt-img{
    
    width: 80%;
    margin-top: 2%;
    box-shadow: 0px 1px 10px black;
    border-radius: 10px;
}
.card{
    margin: 0px 40px;
    box-shadow: 0 2px 10px black;
}
.coll-btn{
    background: none !important;
    border:2px solid teal !important;
    color: teal;
    box-shadow: 0 2px 5px black;
}
.coll-btn:hover{
    background-color: teal !important;
    color: white;
}
.footer{
    background-color: teal;
    color: white;
    padding: 30px 0px;
}
.footer .container h5{
    margin-right: 20px !important;
}
.footer a{
    display: flex;
    align-items: center;
    height: 20px;
    text-decoration: none;
    color: white;
}

.footer i{
    margin-right: 10px;
    font-size: 30px;
}
.footer .yt{
    margin-top: 20px;
}
.footer .insta{
    margin-top: 20px;
}
.end{
    background-color: rgb(0, 83, 83);
    color: white;
}
.coll-act{
    border-bottom: 5px solid teal;
}
.img-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img-con img{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s ease;
}
.img-con .img img:hover{
    padding: 2px;
}

.img-con .img{
    position: relative;
}
.img-con .over-lay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    opacity: 0;
    transition: .2s ease-in;
}
.img-con .over-lay:hover{
    opacity: 1;
}

@media only screen and (max-width:620px){
    .img-con .over-lay{
        font-size: 15px;
    }
}
   
